#1{
    font-size: 30px;

}
#2{
    font-size: 30px;
}

#3{
    font-size: 30px;
}
._achieve{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
